# Dependencies
node_modules

# Next.js
.next
next-env.d.ts
*.tsbuildinfo

# Vercel
.vercel

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Env
.env
.env*.local

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
